.x-axis .tick:hover {
  cursor: pointer;
}

rect {
  cursor: pointer;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke-width: 3;
}

.in {
  stroke: #1f77b4;
}

.out {
  stroke: #ff7f0e;
}

.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}

.grid path {
  stroke-width: 0;
}

.dot {
  stroke-width: 0.25pt;
  stroke: #555;
}

select {
	min-width: 100px;
	margin-left: 10px;
	margin-right: 25px;
}

#container {
  text-align: center;
}

#selectionUI {
  display: inline-block;
}

#tinyWindow {
  position: absolute;
  width: 150px;
  background-color: lightgray;
  display: none;
}

#tinyWindow p {
  font-size: medium;
}

#tinyImage {
  height: 150px;
  width: 150px;
}
